#portfolio-slider .slick-slider {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}
#portfolio-slider .slick-list {
  position: relative;
  display: block !important;
}
#portfolio-slider .slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
}
