#testimonial-slider .slick-slider {
  position: relative;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

#testimonial-slider .slick-dots li button:before {
  background-color: white;
  height: 7px;
  width: 7px;
  border-radius: 100%;
  overflow: hidden;
  position: absolute;
  top: -60px;
  left: -100px;
}

@media screen and (min-width: 350px) {
  #testimonial-slider .slick-dots li button:before {
    top: -65px;
    left: -95px;
  }
}

@media screen and (min-width: 580px) {
  #testimonial-slider .slick-dots li button:before {
    top: -70px;
    left: -160px;
  }
}

@media screen and (min-width: 640px) {
  #testimonial-slider .slick-dots li button:before {
    top: -70px;
    left: -170px;
  }
}

@media screen and (min-width: 1280px) {
  #testimonial-slider .slick-dots li button:before {
    top: -70px;
    left: -190px;
  }
}
