@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
  /* background-color: #ebf0f4; */
   font-family: "Gabarito", sans-serif;
  box-sizing: border-box;
}

.container {
  max-width: 1340px;
  width: 100%;
  margin: 0 auto;
}


.slick-dots li button:before {
background-color: #13a800;
height: 10px;
width: 10px;
text-indent: -9999px;
overflow:hidden; 
}