@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
  /* background-color: #ebf0f4; */
  font-family: "Gabarito", sans-serif;
  box-sizing: border-box;
}

.container {
  max-width: 1340px;
  width: 100%;
  margin: 0 auto;
}

.slick-dots li button:before {
  background-color: #031401;
  height: 12px !important;
  width: 12px !important;
  border-radius: 100%;
  text-indent: -9999px;
  overflow: hidden;
}

.slider-container-portfolio .slick-prev:before,
.slick-next:before {
  color: #031401 !important;
}

.slider-container-portfolio .slick-prev:before,
.slick-next:before {
  color: black !important;
}
